In [1]:
import os
os.chdir('..')

In [2]:
import pandas as pd
from tabulate import tabulate
import numpy as np

### Configs for prerun and main run

In [17]:
alpha = 0.8

beta = [1e-06, 1e-07, 1e-08]

walker_wl = 8

overlap = 0.25

seed_hist = 1

seed_run = 42

num_interactions = 2000

replica_exchange_offset = 20

boundary_type = 0

intervals_wl = 10

iterations = 1000

time_limit = 3600

num_loops = 1000

num_walker_prerun = 500

num_intervals_prerun = 30

In [18]:
row = []
array_task = 1

In [19]:
for b in beta:
    for p in [0.1, 0.11, 0.12, 0.13]:
        for x in [4, 6]:
            for y in [4, 6]:
                for error in ["I", "X", "Y", "Z"]:
                    if x==y:
                        row.append(
                            [
                                array_task, alpha, b, walker_wl, overlap, seed_hist, seed_run, num_interactions, replica_exchange_offset,
                                boundary_type, intervals_wl, iterations, time_limit, num_loops, num_walker_prerun, num_intervals_prerun, p, x, y, error
                            ]
                        )
                        array_task += 1
                        seed_run += 1

intervals_wl = 20
num_intervals_prerun = 40

for b in beta:
    for p in [0.1, 0.11, 0.12, 0.13]:
        for x in [8]:
            for y in [8]:
                for error in ["I", "X", "Y", "Z"]:
                    if x==y:
                        row.append(
                            [
                                array_task, alpha, b, walker_wl, overlap, seed_hist, seed_run, num_interactions, replica_exchange_offset,
                                boundary_type, intervals_wl, iterations, time_limit, num_loops, num_walker_prerun, num_intervals_prerun, p, x, y, error
                            ]
                        )
                        array_task += 1
                        seed_run += 1

intervals_wl = 40
num_intervals_prerun = 60

for b in beta:
    for p in [0.1, 0.11, 0.12, 0.13]:
        for x in [10]:
            for y in [10]:
                for error in ["I", "X", "Y", "Z"]:
                    if x==y:
                        row.append(
                            [
                                array_task, alpha, b, walker_wl, overlap, seed_hist, seed_run, num_interactions, replica_exchange_offset,
                                boundary_type, intervals_wl, iterations, time_limit, num_loops, num_walker_prerun, num_intervals_prerun, p, x, y, error
                            ]
                        )
                        array_task += 1
                        seed_run += 1

In [23]:
df = pd.DataFrame(row, columns=["ArrayTaskID", "alpha", "beta", "walker_wl", "overlap", "seed_hist", "seed_run",
                                "num_interactions", "replica_exchange_offset", "boundary_type", "intervals_wl",
                                "iterations", "time_limit", "num_loops", "num_walker_prerun", "num_intervals_prerun", "probability", "x", "y", "error_type"])

In [24]:
table_string = tabulate(df, headers="keys", tablefmt='plain', showindex=False)

with open('configs/combined.txt', 'w') as f:
    f.write(table_string)

### Prerun

In [9]:
X = [4, 6, 8, 10]
Y = [4, 6, 8, 10]


niters = 1000
loop = 200
inter = 30
walker = 150

seed = 1

num_interactions = 2000

boundary = [0]

logical_error_type = ['I', 'X', 'Y', 'Z']

In [10]:
### Adjust based on runs you want to have
rows = []
array_task = 1

for b in boundary:
    for prob in p:
        for e in logical_error_type:
            for i in range(len(X)):
                rows.append([array_task, X[i], Y[i], prob, niters, loop, walker, seed, inter, e, b, num_interactions])
                array_task += 1

In [11]:
df = pd.DataFrame(rows, columns=["ArrayTaskID", "X", "Y", "prob", "num_iterations", "loops", "walker", "seed", "intervals", "error", "boundary", "num_interactions"])

In [12]:
df

,ArrayTaskID,X,Y,prob,num_iterations,loops,walker,seed,intervals,error,boundary,num_interactions
0,1,4,4,0.10,1000,200,150,1,30,I,0,2000
1,2,6,6,0.10,1000,200,150,1,30,I,0,2000
2,3,8,8,0.10,1000,200,150,1,30,I,0,2000
3,4,10,10,0.10,1000,200,150,1,30,I,0,2000
4,5,4,4,0.10,1000,200,150,1,30,X,0,2000
5,6,6,6,0.10,1000,200,150,1,30,X,0,2000
6,7,8,8,0.10,1000,200,150,1,30,X,0,2000
7,8,10,10,0.10,1000,200,150,1,30,X,0,2000
8,9,4,4,0.10,1000,200,150,1,30,Y,0,2000
9,10,6,6,0.10,1000,200,150,1,30,Y,0,2000
10,11,8,8,0.10,1000,200,150,1,30,Y,0,2000
11,12,10,10,0.10,1000,200,150,1,30,Y,0,2000
12,13,4,4,0.10,1000,200,150,1,30,Z,0,2000
13,14,6,6,0.10,1000,200,150,1,30,Z,0,2000
14,15,8,8,0.10,1000,200,150,1,30,Z,0,2000
15,16,10,10,0.10,1000,200,150,1,30,Z,0,2000
16,17,4,4,0.11,1000,200,150,1,30,I,0,2000
17,18,6,6,0.11,1000,200,150,1,30,I,0,2000
18,19,8,8,0.11,1000,200,150,1,30,I,0,2000
19,20,10,10,0.11,1000,200,150,1,30,I,0,2000
20,21,4,4,0.11,1000,200,150,1,30,X,0,2000
21,22,6,6,0.11,1000,200,150,1,30,X,0,2000
22,23,8,8,0.11,1000,200,150,1,30,X,0,2000
23,24,10,10,0.11,1000,200,150,1,30,X,0,2000
24,25,4,4,0.11,1000,200,150,1,30,Y,0,2000
25,26,6,6,0.11,1000,200,150,1,30,Y,0,2000
26,27,8,8,0.11,1000,200,150,1,30,Y,0,2000
27,28,10,10,0.11,1000,200,150,1,30,Y,0,2000
28,29,4,4,0.11,1000,200,150,1,30,Z,0,2000
29,30,6,6,0.11,1000,200,150,1,30,Z,0,2000
30,31,8,8,0.11,1000,200,150,1,30,Z,0,2000
31,32,10,10,0.11,1000,200,150,1,30,Z,0,2000
32,33,4,4,0.12,1000,200,150,1,30,I,0,2000
33,34,6,6,0.12,1000,200,150,1,30,I,0,2000
34,35,8,8,0.12,1000,200,150,1,30,I,0,2000
35,36,10,10,0.12,1000,200,150,1,30,I,0,2000
36,37,4,4,0.12,1000,200,150,1,30,X,0,2000
37,38,6,6,0.12,1000,200,150,1,30,X,0,2000
38,39,8,8,0.12,1000,200,150,1,30,X,0,2000
39,40,10,10,0.12,1000,200,150,1,30,X,0,2000
40,41,4,4,0.12,1000,200,150,1,30,Y,0,2000
41,42,6,6,0.12,1000,200,150,1,30,Y,0,2000
42,43,8,8,0.12,1000,200,150,1,30,Y,0,2000
43,44,10,10,0.12,1000,200,150,1,30,Y,0,2000
44,45,4,4,0.12,1000,200,150,1,30,Z,0,2000
45,46,6,6,0.12,1000,200,150,1,30,Z,0,2000
46,47,8,8,0.12,1000,200,150,1,30,Z,0,2000
47,48,10,10,0.12,1000,200,150,1,30,Z,0,2000

In [6]:
table_string = tabulate(df, headers="keys", tablefmt='plain', showindex=False)

with open('configs/prerun.txt', 'w') as f:
    f.write(table_string)

In [7]:
with open('configs/prerun.txt', 'w') as f:
    f.write(table_string)

### Wang Landau

In [8]:
X = [12, 14, 18]
Y = [12, 14, 18]

p = [0.06, 0.1]

num_iterations = 10000
alpha = 0.8
beta = 1e-08

intervals = 20

walker = 5

overlap = 0.25
seed_hist = np.arange(43, 48)
seed_run = 42

error = ['I', 'X']
boundary = [0, 1]

In [18]:
row = []
array_task = 1

for b in boundary:
    for prob in p:
        for e in error:
            for sh in seed_hist:
                for i in range(len(X)):
                    row.append(
                        [array_task, X[i], Y[i], num_iterations, prob, alpha, beta, intervals, walker, overlap, sh, seed_run, e, b]
                        )
                    array_task += 1

In [19]:
df = pd.DataFrame(row, columns = ["ArrayTaskID", "X", "Y", "num_iterations", "p", "alpha", "beta", "intervals", "walker", "overlap", "seed_hist", "seed_run", "error", "boundary"])

In [20]:
table_string = tabulate(df, headers="keys", tablefmt='plain', showindex=False)

with open('configs/main.txt', 'w') as f:
    f.write(table_string)